   /* Custom Properties */
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  /* Colors */
  /* --clr-dark: 230 35% 7%; */
  --clr-dark: 0 0% 12%;
  --clr-light:  210 61% 48%;
  --clr-compliment: 30 61% 48%;
  /* --clr-light: 211, 36%, 54%; */
  /* --clr-white: 0 0% 100%; */
  --clr-white: 140 3% 78%;
  --clr-link: 48 49% 48%;
  --clr-link-visited: 48 40% 41%;
  --clr-pink: 300 61% 48%;
  --clr-green: 120 61% 48%;
  
  /* Fonts Sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font Families */
  --ff-serif: "Noto Serif Display", serif;
  --ff-sans-condition: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Noto Znamenny Musical Notation", sans-serif;

  --ff-serif-bellefair: "Bellefair", serif;
}

/* Reset */

/* Box Sizing */
*,
* ::before,
* ::after {
box-sizing: border-box;
}

/* Reset Margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
font-weight: 400;
}

/* set up body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}

/* Easier Images */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Easier Form Elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Utility Classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem)
}

.grid {
  display: grid;
  gap: var(--gap, 1rem)
}

.flow > *:where(:not(:last-child)) {
  margin-bottom: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}

.h > h2 {
  text-align: center;
  margin-top: 3rem;
  font-family: var(--ff-serif-bellefair);
  font-size: var(--fs-600)

}

.h h2 + h3 {
  text-align: center;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-400)
}

.link a {
  color: hsl(var(--clr-compliment));
  text-decoration: none;
}

.link a:visited {
  color: hsl(var(--clr-compliment));
}

.link a:hover {
  text-decoration: underline;
}

.container {
  padding-inline: 2em;
  max-width: 70rem;
  margin-inline: auto;
}

.meadow-nav > a:where(:not(:last-child)) {
  margin-bottom: var(--flow-space, 1rem);
}

.prologue-nav {
  flex-wrap: wrap;
  justify-content: flex-start;

}

.prologue-nav > div {

  text-align: center;
}

nav {
  margin-top: 1.5em;
}

nav h2 {
  margin-bottom: 0.5rem;
}

nav a {
  margin: 0rem 0.3rem 0.5rem 0.3rem;
}

/* Colors */
.bg-dark { background-color: hsl(var(--clr-dark));}
.bg-accent { background-color: hsl(var(--clr-light));}
.bg-white { background-color: hsl(var(--clr-white));}

.text-dark { color: hsl(var(--clr-dark));}
.text-accent  { color: hsl(var(--clr-light));}
.text-white  { color: hsl(var(--clr-white));}
.text-compliment  { color: hsl(var(--clr-compliment));}
.text-pink  { color: hsl(var(--clr-pink));}
.text-green  { color: hsl(var(--clr-green));}

/* Typography */
.ff-serif { font-family: var(--ff-serif);}
.ff-sans-cond {font-family: var(--ff-sans-cond);}
.ff-sans-normal {font-family: var(--ff-sans-normal);}

.ff-serif-bellefair { font-family: var(--ff-serif-bellefair);}

.letter-spacing-1  {letter-spacing: 4.75px;}
.letter-spacing-2  {letter-spacing: 2.7px;}
.letter-spacing-3  {letter-spacing: 2.35px;}

.uppercase {text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900);}
.fs-800 { font-size: var(--fs-800);}
.fs-700 { font-size: var(--fs-700);}
.fs-600 { font-size: var(--fs-600);}
.fs-500 { font-size: var(--fs-500);}
.fs-400 { font-size: var(--fs-400);}
.fs-300 { font-size: var(--fs-300);}
.fs-200 { font-size: var(--fs-200);}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

@media screen and (min-width: 581px) and (max-width: 900px) and (-webkit-device-pixel-ratio: 3) {

  #header {
    --fs-800: var(--fs-700);
  }
}

@media screen and (max-width: 580px) and (-webkit-device-pixel-ratio: 2) {

  #header {
    --fs-700: var(--fs-600);
  }
  nav a {
    margin: 0rem 0.1rem 0.5rem 0.1rem;
  }
  .container {
    padding-inline: 0.2em;
}
}