<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/logo.png" />
    <!-- Google fonts -->
<!-- new -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

<!-- old -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Znamenny+Musical+Notation&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>{{ title }}</title>
    <meta content="Scrinium" property="og:title" />
    <meta content="A repository of knowledge" property="og:description" />
    <meta content="https://embed.com/this-is-the-site-url" property="og:url" />
    <meta content="/assets/logo.png" property="og:image" />
    <meta
      content="hsl(var(--clr-compliment))"
      data-react-helmet="true"
      name="theme-color"
    />
    <!-- <meta name="twitter:card" content="summary_large_image" /> -->
  </head>
  <body class="">
    <div
      id="header"
      class="container bg-accent text-white"
      style="
        background: linear-gradient(
          to left,
          hsl(var(--clr-light) / 0.25),
          hsl(var(--clr-compliment) / 0.25)
        );
      "
    >
      <div
        class="flex"
        style="
          justify-content: center;
          align-items: center;
          padding-top: 1.5rem;
        "
      >
        <img
          style="height: var(--xl); width: var(--xl)"
          src="/assets/logo.png"
          alt="logo"
        />
        <h1 class="ff-serif-bellefair fs-xl uppercase">Scrinium</h1>
      </div>
      <nav
        class="flex link ff-serif-bellefair fs-m"
        style="--clr-compliment: var(--clr-white); justify-content: center"
      >
      {%- for nav in collections.nav -%}
      <a href="{{ nav.url }}">{{  nav.data.title | capitalize }}</a>
      {%- endfor -%}
        <!-- <a href="/">Home</a>
         <a href="/blog/">Blog</a> 
        <a href="/prologue/">Prologue</a>
        <a href="/meadow/">Spiritual Meadow</a> -->
      </nav>
    </div>
    <div class="flow container bg-dark text-white h link">
      {% block content %}{% endblock %}

      <a class="fs-300" href="https://github.com/anaxios/scrinium"
        >Help fix tpyos by editing on github</a
      >
    </div>
  </body>
</html>
