<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/logo.png"/> <!-- Google fonts -->
    <!-- new --> <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet"> <!-- old -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Znamenny+Musical+Notation&display=swap"
      rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <title>{{ title }}</title>
    <meta content="{{ title }}" property="og:title"/>
    <meta content="{%- if description -%}{{ description }} {%- else -%} This site is a collection of writings, quotes, and personal projects that I have found thought-provoking and informative. {%- endif -%}" property="og:description"/>
    <meta content="https://embed.com/this-is-the-site-url" property="og:url"/>
    <meta content="/assets/logo.png" property="og:image"/>
  <meta
    content="hsl(var(--clr-compliment))" data-react-helmet="true" name="theme-color"/>
  <!-- <meta name="twitter:card" content="summary_large_image" /> -->
  </head>
  <body class="">
    <div
      id="header"
      class="container bg-accent text-white"
      style="background: linear-gradient(135deg, rgba(197,48,197,0.08867296918767509) 2%, rgba(48,122,197,0.0802696078431373)
        39%, rgba(197,122,48,0.0718662464985994) 91%)">
      <div class="flex" style="justify-content: center; align-items: center; padding-top: 1.5rem; ">
        <img style="height: var(--xl); width: var(--xl)" src="/assets/logo.png" alt="logo"/>
        <h1 class="ff-serif-bellefair fs-xl uppercase">Scrinium</h1>
      </div>
      <nav
        class="flex link ff-serif-bellefair fs-m"
        style="flex-wrap: wrap; --clr-compliment: var(--clr-white); justify-content: center">
        {%- for nav in collections.nav -%}
          <a href="{{ nav.url }}">{{ nav.data.title | title }}</a>
        {%- endfor -%}
        <!-- <a href="/">Home</a> <a href="/blog/">Blog</a> <a href="/prologue/">Prologue</a> <a href="/meadow/">Spiritual
        Meadow</a> -->
      </nav>
    </div>
    <div class="flow text-container bg-dark text-white h link"> {% block content %}{% endblock %}
      <a class="fs-300" href="https://github.com/anaxios/scrinium">Help fix tpyos by editing on github</a>
    </div>
  </body>
</html>