<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/logo.png"/>
    <!-- Google fonts -->
    <!-- new -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet">
    <!-- old -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Znamenny+Musical+Notation&display=swap"
      rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
      rel="stylesheet"/>
    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/style.css" %}
    {% endset %}
    <style>
      {{css | safe}}
    </style>
    {# htmx #}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    <title>{{ title }}</title>

    <meta content="{{ title }}" property="og:title"/>
    <meta content="{%- if description -%}{{ description }} {%- else -%} This site is a collection of writings, quotes, and personal projects that I have found thought-provoking and informative. {%- endif -%}" property="og:description"/>
    <meta content="https://embed.com/this-is-the-site-url" property="og:url"/>
    <meta content="/assets/logo.png" property="og:image"/>
    <meta
    content="hsl(var(--clr-compliment))" data-react-helmet="true" name="theme-color"/>
    <!-- <meta name="twitter:card" content="summary_large_image" /> -->
  </head>
  <body>
    {% include "partials/nav.njk" %}
    <div style="flex-grow: 1;">
      {{ content | safe }}
    </div>
    {% include "partials/footer.njk" %}
  </body>
</html>