<footer class="flow container bg-darker text-white h link" style="padding-top:var(--l);">
    <a class="fs-300" href="https://github.com/anaxios/scrinium">Contribute & help fix tpyos by editing on github</a>
</footer>