<header id="header" class="container gradient-bg text-white" style="">
    <div class="flex" style="justify-content: center; align-items: center; padding-top: var(--l);">
        <img style="height: var(--xl); width: var(--xl)" src="/assets/logo.png" alt="logo"/>
        <h1 class="ff-serif-bellefair fs-xl uppercase">Daedalist</h1>
    </div>
    <nav
        class="flex link ff-serif-bellefair fs-m"
        style="flex-wrap: wrap; --clr-compliment: var(--clr-white); justify-content: center">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/art/">Art</a>
        <a href="/prologue/">Prologue</a>
        <a href="/meadow/">Spiritual Meadow</a>
    </nav>
</header>